
/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/

    /* Mixin
    ----------------------------------------------------------------------- */

    //Modelo de bloco padrão
    @mixin block_default {
        height: 100%;   width: 100%;
        margin: 0;
        padding: 0;
    }

    //Bloco 50%
    @mixin block_50 {
        @extend #POSITION-RELATIVE;
        height: 100%;   width: 50%;
        margin: 0;
        padding: 0;
    }