<!DOCTYPE html>
<html lang="en">
<head>
    {% include "metatags" %}

    <title>Rafael Torres | webmaster ux/frontend{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <!-- STYLES -->
    {% include "styles" %}
    {% block styles %}{% endblock %}
</head>

<body class="webmaster-ux">
    {% block content %}{% endblock %}

    <!-- SCRIPTS -->
    {% include "scripts" %}
    {% block scripts %}{% endblock %}
    {% include "analytics" %}
</body>
</html>