/*  ==========================================================================
    STYLE: FULL PAGE
    --------------------------------------------------------------------------
    Version: 1.0;
    --------------------------------------------------------------------------
    by Rafael Torres
    ==========================================================================
*/
/*  --------------------------------------------------------------------------
    SASS includes
    ==========================================================================
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Animations
----------------------------------------------------------------------- */
/* ============================ 1. Fade
======================================= */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBtn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInBtn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInBtn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInBtn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* ========================= 2. Ajustes
======================================= */
@-webkit-keyframes fitTop {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 5%;
  }
}

@keyframes fitTop {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 5%;
  }
}

@-webkit-keyframes fitBottom {
  from {
    margin-left: 25%;
  }

  to {
    margin-left: 0.5%;
  }
}

@keyframes fitBottom {
  from {
    margin-left: 25%;
  }

  to {
    margin-left: 0.5%;
  }
}

@-webkit-keyframes fitSM {
  from {
    margin-top: 25%;
  }

  to {
    margin-top: 4.5%;
  }
}

@keyframes fitSM {
  from {
    margin-top: 25%;
  }

  to {
    margin-top: 4.5%;
  }
}

/* ================== 3. Cores de Fundo
======================================= */
@-webkit-keyframes backCollor {
  from {
    background: #F9F9F9;
  }

  to {
    background: #F2F0EB;
  }
}

@keyframes backCollor {
  from {
    background: #F9F9F9;
  }

  to {
    background: #F2F0EB;
  }
}

@-webkit-keyframes fitBtnTop {
  from {
    color: #1F272D;
  }

  to {
    color: #F5F5F5;
  }
}

@keyframes fitBtnTop {
  from {
    color: #1F272D;
  }

  to {
    color: #F5F5F5;
  }
}

/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Mixin
----------------------------------------------------------------------- */
/*  --------------------------------------------------------------------------
    UI: Setup
    --------------------------------------------------------------------------
*/
/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Settings
----------------------------------------------------------------------- */
#FLOAT-LEFT, body.webmaster-ux section, body.webmaster-ux section .container .nav_left, body.webmaster-ux section .container .nav_right, body.webmaster-ux section .container .show .triangle, body.webmaster-ux section .container .show nav ul li a, body.webmaster-ux section .container .show .social_media ul li, body.webmaster-ux section .container .show .social_media ul li a, body.webmaster-ux section .box_left {
  float: left;
}

#FLOAT-RIGHT, body.webmaster-ux section .box_right {
  float: right;
}

#HIDE, body.webmaster-ux section .container .show, body.webmaster-ux section .container:hover .nav {
  display: none;
}

#SHOW, body.webmaster-ux section .container .nav, body.webmaster-ux section .container:hover .show, body.webmaster-ux section a.btn {
  display: block;
}

#DEFAULT-CURSOR {
  cursor: default;
}

#FONT-BOLD {
  font-weight: bold;
}

#FONT-ITALIC {
  font-style: italic;
}

#FONT-NORMAL {
  font-weight: normal;
}

#FONT-LIGHTER, body.webmaster-ux {
  font-weight: lighter;
}

#TEXT-UPPERCASE {
  text-transform: uppercase;
}

#TEXT-INDENT, body.webmaster-ux section .container .show nav ul li a span, body.webmaster-ux section .container .show .social_media ul li a {
  text-indent: -9999px;
}

#POSITION-ABSOLUTE, body.webmaster-ux section .container .nav, body.webmaster-ux section .container .show, body.webmaster-ux section .container .show .triangle, body.webmaster-ux section .container .show nav ul li a span {
  position: absolute;
}

#POSITION-RELATIVE, body.webmaster-ux section .container, body.webmaster-ux section .container .show nav ul li a {
  position: relative;
}

#POSITION-FIXED, body.webmaster-ux section .container .show p.copyright {
  position: fixed;
}

/*  --------------------------------------------------------------------------
    SASS Default
    ==========================================================================
*/
html {
  height: 100%;
}

body.webmaster-ux {
  background: #fdfdfd;
  color: #1f272d;
  font-family: "Open Sans", Tahoma, Arial, Verdana;
  font-size: 62.5%;
  height: 100%;
}
body.webmaster-ux section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body.webmaster-ux section .container {
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
}
body.webmaster-ux section .container .nav {
  -webkit-animation: fadeIn 0.5s ease-in-out;
  -moz-animation: fadeIn 0.5s ease-in-out;
  -o-animation: fadeIn 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
  height: 30px;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  vertical-align: middle;
  width: 65px;
}
body.webmaster-ux section .container .nav_left {
  background: url(../image/sprite.png) 0 0 no-repeat;
}
body.webmaster-ux section .container .nav_right {
  background: url(../image/sprite.png) -65px 0 no-repeat;
}
body.webmaster-ux section .container .show {
  height: 100%;
  margin: 0;
  top: 0;
  text-align: center;
  width: 100%;
}
body.webmaster-ux section .container .show .triangle {
  background: url(../image/sprite.png) 0 -30px no-repeat;
  height: 213px;
  margin: 0;
  top: 0;
  width: 250px;
  z-index: 1000;
}
body.webmaster-ux section .container .show h2 {
  font-size: 1.6em;
  margin: 5% 0 10% 0;
  -webkit-animation: fitTop 1s;
  animation: fitTop 1s;
}
body.webmaster-ux section .container .show h1 {
  font-size: 5.0em;
  z-index: 2000;
  margin-bottom: 17%;
}
body.webmaster-ux section .container .show nav {
  height: 26.8%;
  width: 100%;
}
body.webmaster-ux section .container .show nav ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
body.webmaster-ux section .container .show nav ul li {
  background: #f9f9f9;
  border-bottom: solid 1px #f0f0f0;
  border-top: solid 1px #f0f0f0;
  height: 32.7%;
  line-height: 32.7%;
  width: 100%;
}
body.webmaster-ux section .container .show nav ul li a {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
body.webmaster-ux section .container .show nav ul li a span {
  left: 50%;
  top: 50%;
  margin-top: -27px;
  vertical-align: middle;
}
body.webmaster-ux section .container .show nav ul li a span.graphic {
  background: url(../image/sprite.png) -258px -41px no-repeat;
  height: 54px;
  margin-left: -27px;
  width: 55px;
}
body.webmaster-ux section .container .show nav ul li a span.design {
  background: url(../image/sprite.png) -250px -149px no-repeat;
  height: 54px;
  margin-left: -38px;
  width: 72px;
}
body.webmaster-ux section .container .show nav ul li a span.code {
  background: url(../image/sprite.png) -250px -257px no-repeat;
  height: 54px;
  margin-left: -38px;
  width: 76px;
}
body.webmaster-ux section .container .show nav ul li a:hover {
  background: #f2f0eb;
  -webkit-animation: backCollor 0.5s;
  animation: backCollor 0.5s;
}
body.webmaster-ux section .container .show nav ul li a:hover span.graphic {
  background: url(../image/sprite.png) -258px -95px no-repeat;
}
body.webmaster-ux section .container .show nav ul li a:hover span.design {
  background: url(../image/sprite.png) -250px -203px no-repeat;
}
body.webmaster-ux section .container .show nav ul li a:hover span.code {
  background: url(../image/sprite.png) -174px -257px no-repeat;
}
body.webmaster-ux section .container .show .social_media {
  height: 20px;
  margin: 0 auto;
  margin-bottom: 3.5%;
  margin-top: 4.5%;
  width: 235px;
  -webkit-animation: fitSM 1s;
  animation: fitSM 1s;
}
body.webmaster-ux section .container .show .social_media ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
body.webmaster-ux section .container .show .social_media ul li {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 20px;
  margin-right: 29.5px;
}
body.webmaster-ux section .container .show .social_media ul li a {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body.webmaster-ux section .container .show .social_media ul li:last-child {
  margin-right: 0px;
}
body.webmaster-ux section .container .show .social_media ul li.face {
  background: url(../image/sprite.png) -130px 0 no-repeat;
  width: 24px;
}
body.webmaster-ux section .container .show .social_media ul li.face:hover {
  background: url(../image/sprite.png) -154px 0 no-repeat;
}
body.webmaster-ux section .container .show .social_media ul li.gPlus {
  background: url(../image/sprite.png) -178px 0 no-repeat;
  width: 20px;
}
body.webmaster-ux section .container .show .social_media ul li.gPlus:hover {
  background: url(../image/sprite.png) -198px 0 no-repeat;
}
body.webmaster-ux section .container .show .social_media ul li.din {
  background: url(../image/sprite.png) -218px 0 no-repeat;
  width: 20px;
}
body.webmaster-ux section .container .show .social_media ul li.din:hover {
  background: url(../image/sprite.png) -238px 0 no-repeat;
}
body.webmaster-ux section .container .show .social_media ul li.twitt {
  background: url(../image/sprite.png) -258px 0 no-repeat;
  width: 24px;
}
body.webmaster-ux section .container .show .social_media ul li.twitt:hover {
  background: url(../image/sprite.png) -282px 0 no-repeat;
}
body.webmaster-ux section .container .show .social_media ul li.mail {
  background: url(../image/sprite.png) -258px -20px no-repeat;
  width: 28px;
}
body.webmaster-ux section .container .show .social_media ul li.mail:hover {
  background: url(../image/sprite.png) -286px -20px no-repeat;
}
body.webmaster-ux section .container .show p.phones {
  font-size: 1.4em;
}
body.webmaster-ux section .container .show p.copyright {
  font-size: 1.2em;
  text-align: left;
  bottom: 0;
  margin: 0 0 1% 0.5%;
  -webkit-animation: fitBottom 1s;
  animation: fitBottom 1s;
}
body.webmaster-ux section .container .other_info {
  background: whitesmoke;
}
body.webmaster-ux section .container .about_me {
  background: #1f272d;
}
body.webmaster-ux section .container .about_me p.about {
  -webkit-animation: fitBtnTop 0.3s ease-in-out;
  -moz-animation: fitBtnTop 0.3s ease-in-out;
  -o-animation: fitBtnTop 0.3s ease-in-out;
  animation: fitBtnTop 0.3s ease-in-out;
  color: whitesmoke;
  font-size: 1.5em;
  margin: 15.5% 0 27.5% 0;
}
body.webmaster-ux section .box_left {
  background: whitesmoke;
}
body.webmaster-ux section .box_right {
  background: #1f272d;
}
body.webmaster-ux section .container:hover .show {
  -webkit-animation: fadeIn 0.5s ease-in-out;
  -moz-animation: fadeIn 0.5s ease-in-out;
  -o-animation: fadeIn 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}
body.webmaster-ux section p {
  font-size: 1.4em;
}
body.webmaster-ux section a.btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px whitesmoke;
  font-size: 1.8em;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 0 auto;
}
body.webmaster-ux section a.btn:hover {
  -webkit-animation: fadeInBtn 0.3s ease-in-out;
  -moz-animation: fadeInBtn 0.3s ease-in-out;
  -o-animation: fadeInBtn 0.3s ease-in-out;
  animation: fadeInBtn 0.3s ease-in-out;
}
body.webmaster-ux section a.dark {
  background: #1f272d;
  color: whitesmoke;
}
body.webmaster-ux section a.dark:hover {
  background: whitesmoke;
  color: #1f272d;
}
body.webmaster-ux section a.light {
  background: whitesmoke;
  color: #1f272d;
}
body.webmaster-ux section a.light:hover {
  background: #1f272d;
  color: whitesmoke;
}
