{% block content %}
<section>
	<div class="fifty container box_light" id="nav">
		<div class="nav nav_left"></div>
		<div class="show other_info">
			<h2>Rafael Feitoza Torres</h2>
			<h1>WebMaster UX/FrontEnd</h1>
			<nav>
				<ul>
					<li><a href="" title="Gráfico" id="action"><span class="graphic">Gráfico</span></a></li>
					<li><a href="" title="Designer" id="action"><span class="design">Designer</span></a></li>
					<li><a href="" title="Programador" id="action"><span class="code">Programador</span></a></li>
				</ul>
			</nav>
			<div class="social_media">
				<ul>
					<li class="face"><a href="" title="Curta minha página">Facebook</a></li>
					<li class="gPlus"><a href="" title="Veja meu perfil">Google Plus</a></li>
					<li class="din"><a href="" title="Histório Profissional">Linkedin</a></li>
					<li class="twitt"><a href="" title="Me siga no twitter">Twitter</a></li>
					<li class="mail"><a href="" title="Entre em contato!">E-mail</a></li>
				</ul>
			</div>
			<p class="phones">+55 11 5667 3506 | +55 11 99106 5485</p>
			<p class="copyright">Rafael Torres | Copyright © 2007 - 2014. Todos os direitos reservados.</p>
		</div>
	</div>
	<div class="fifty container box_dark" id="main">
		<div class="nav nav_right"></div>
		<div class="show about_me">
			<p class="about">Olá! Meu nome é Rafael Torres e eu sou um webmaster ux/frontend<br> focado na experiência e interface do usuário.</p>
			<a href="" class="btn dark" title="Quero saber mais!">Quero saber mais!</a>
		</div>
	</div>
</section>
{% endblock %}