{% block content %}
<section>
	<div class="container box_left">
		<div class="nav nav_left"></div>
		<div class="show other_info">
			<h2>Rafael Feitoza Torres</h2>
			<h1>WebMaster UX/FrontEnd</h1>
			<nav></nav>
			<p class="copyright">Rafael Torres | Copyright © 2007 - 2014. Todos os direitos reservados.</p>
		</div>
	</div>
	<div class="container box_right">
		<div class="nav nav_right"></div>
		<div class="show about_me"></div>
	</div>
</section>
{% endblock %}